.App{
  margin: auto;
  height: 100vh;
  background: cornflowerblue;
  font-family: sans-serif;
}

.centerflex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spaceItems{
  width: 86vw;
  display: flex;
  justify-content: space-evenly;
  margin-top: 4.4vh;
}

 h1 {
  font-size: 10vw;
  margin: 0 0 3vh 0;
}

